.styleSearchIcon {
  border: 2px solid #a3a3a3;
  border-radius: 0px;
  padding-top: 0.2rem;
  padding-bottom: 0.08rem;
  padding-left: 0.15rem;
  padding-right: 0.15rem;

  background-color: #ffffff;
}
